<!DOCTYPE html>
<html lang="en">
<!--
  Author: Eduardo Fachal
  Proyecto Final DAW
  -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alta</title>
  <link rel="stylesheet" type="text/css" href="../Public/Css/Admin.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Lato" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="../Public/Javascript/ModUserAdmin.js"></script>

</head>

<body>
    <a class="logo_link" href="../Controllers/Index.php"><img src="../Public/Img/fav-ico_nofondo.png"></a>

    <div class="container">
      <h2>Cuentas Usuarios</h2><br><br>
      <table class="table" id="tableAdmin">
        <thead class="thead-dark">
          <tr>
            <th>Id Usuario</th>
            <th>Usuario</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          %%valores%%
        </tbody>
      </table>
    </div>

    <div class="container" id="formUpdate">
      <h2>Modificar Usuario</h2>
      <p>Formulario para modificar el usuario:<div id="usuarioModificarDatos"></div></p>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="usuario" placeholder="Introduzca Usuario" name="usuario">
          </div>
          <div class="col">
            <input type="password" class="form-control" placeholder="Introduzca Password" name="pass">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="email" placeholder="Introduzca Email" name="email">
          </div>
          <div class="col">
            <input type="password" class="form-control" placeholder="Introduzca numero teléfono" name="pswd">
          </div>
          <div class="col">
            <input type="password" class="form-control" placeholder="Introduzca dirección" name="pswd">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
</body>

</html>