<div id="cover">
    <div id="cover-caption">
        <h2>%%nombreFormularioCabecera%%</h2>
        <form method="POST" class="register">
            <!--Usuario-->
            <div class="form-group col-md-4">
                <label for="Usuario">Usuario </label>
            </div>

            <div class="form-group col-md-8 separacionBotones">
                <input type="text" class="form-control form-control-sm" aria-describedby="usuario" name="usuario">
            </div>

            <!--Password-->
            <div class="form-group col-md-4">
                <label for="Contraseña">Contraseña</label>
            </div>

            <div class="form-group col-md-8 separacionBotones">
                <input type="password" class="form-control form-control-sm" id="pass" name="pass">
            </div>
            <!--Nombre-->
            <div class="form-group col-md-2 ">
                <label for="Nombre">Nombre</label>
            </div>

            <div class="form-group col-md-4 ">
                <input type="text" class="form-control form-control-sm" name="nombre">
            </div>

            <!--Apellidos-->
            <div class="form-group col-md-2">
                <label for="Apellidos">Apellidos</label>
            </div>

            <div class="form-group col-md-4 separacionBotones">
                <input type="text" class="form-control form-control-sm" name="apellidos">
            </div>

            <!--Email-->
            <div class="form-group col-md-2 ">
                <label for="EMail">Email</label>
            </div>

            <div class="form-group col-md-10 separacionBotones">
                <input type="email" class="form-control form-control-sm" name="email">
            </div>

            <!--Direccion-->
            <div class="form-group col-md-2">
                <label for="Direccion">Direccion</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control form-control-sm" name="direccion">
            </div>

            <!--Codigo Postal-->
            <div class="form-group col-md-2">
                <label for="CodigoPostal">Codigo Postal</label>
            </div>

            <div class="form-group col-md-4 separacionBotones">
                <input type="text" class="form-control form-control-sm" name="codigoPostal" pattern="[0-9]{3,5}">
            </div>

            <!--Localidad-->
            <div class="form-group col-md-2">
                <label for="Localidad">Localidad</label>
            </div>

            <div class="form-group col-md-4 separacionBotones">
                <input type="text" class="form-control form-control-sm" name="localidad">
            </div>

            <!--Provincia-->
            <div class="form-group col-md-2">
                <label for="Provincia">Provincia</label>
            </div>

            <div class="form-group col-md-4 separacionBotones">
                <input type="text" class="form-control form-control-sm" name="provincia">
            </div>

            <!--Telefono-->
            <div class="form-group col-md-2">
                <label for="Telefono">Telefono</label>
            </div>

            <div class="form-group col-md-4 separacionBotones">
                <input type="text" class="form-control form-control-sm" name="telefono">
            </div>

            <!--Fecha de Nacimiento-->
            <div class="form-group col-md-2">
                <label for="Nacimiento">Fecha de Nacimiento</label>
            </div>

            <div class="form-group col-md-4 separacionBotones">
                <input type="text" class="form-control form-control-sm" name="fechaNacimiento"
                    pattern="\d{1,2}/\d{1,2}/\d{4}">
            </div>
            <div class="identificadorUsuario">%%idUsuario%%</div>
            <button type="button" class="btn btn-primary register" id="modificar">%%nombreFormularioBoton%%</button>
        </form>
    </div>
</div>