<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../Public/Css/comun.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    %%menu%%
    %%body%%
    %%offer%%

    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">

              <h5 class="text-uppercase">Footer Content</h5>
              <p>Dirección:<br><br>
                Calle San Juan de la Cruz, s/n <br><br>
                Pozuelo de Alarcón, Madrid <br><br>
                Telefono <br><br>
                (+34) 666 55 44 33 <br><br>
                Correo electrónico <br><br>
                ...@gmail.com
            </p>
      
            </div>
            <!-- Grid column -->
            <ul id="menu_foot">
                <li><img src="../Public/Img/Facebook.png" height="48" width="48"></li>
                <li><img src="../Public/Img/Instagram.jpg" height="48" width="48"></li>
                <li><img src="../Public/Img/Twitter.jpg" height="48" width="48"></li>
            </ul>
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <p> MDBootstrap.com</p>
        </div>
      
      </footer>
</body>
</html>