<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../Public/Css/comun.css">
</head>
<body>
    %%menu%%
    %%body%%
    
    <footer>
        <ul id="menu_foot">
            <li><img src="../Public/Img/Facebook.png" height="48" width="48"></li>
            <li><img src="../Public/Img/Instagram.jpg" height="48" width="48"></li>
            <li><img src="../Public/Img/Twitter.jpg" height="48" width="48"></li>
        </ul>
        <p id="copy">Copyright <img src="img/copyright-logo.jpg" height="10" width="10">Cloudhost | Los precios no
                        incluyen IVA.</p>
    </footer>
</body>
</html>