<!DOCTYPE html>
<html lang="en">
<!--
  Author: Eduardo Fachal
  Proyecto Final DAW
  -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alta</title>
  <link rel="stylesheet" type="text/css" href="../Public/Css/Login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>

<body>

  <div class="background_form_login">

  </div>

  <footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="col-sm-7">
          <p>Dirección:<br><br>
            Calle San Juan de la Cruz, s/n <br><br>
            Pozuelo de Alarcón, Madrid <br><br>
            Telefono <br><br>
            (+34) 666 55 44 33 <br><br>
            Correo electrónico <br><br>
            ...@gmail.com
          </p>

        </div>

        <div class="col-sm-5" id="rrrss">
          <ul class="navbar navbar-expand-sm">
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../Public/Img/Twitter.jpg" height="68" width="68"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../Public/Img/Instagram.jpg" height="68" width="68"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="../Public/Img/Facebook.png" height="48" width="48"></a>
            </li>
          </ul>

        </div>
    </div>
    <div class="footer-copyright text-center py-3">
      <p>Terminos de venta&nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Terminos de uso &nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Detalles de la empresa &nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Politica de privacidad y uso </p><br><br>
      <p>© 2020 Copyright: Eduardo Fachal</p>
    </div>

  </footer>
</body>

</html>