<!DOCTYPE html>
<html lang="en">
<!--
  Author: Eduardo Fachal
  Proyecto Final DAW
  -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../Public/Css/Login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../Public/Javascript/FunctionsLogin.js"></script>
</head>

<body>

  <div class="background_form_login">

    <!-- Logo de la pagina, redirige a la pagina principal, Index -->
    <a href="../Controllers/Index.php"><img src="../Public/Img/fav-ico_nofondo.png" id="logo_link"
        alt="Link a la pagina principal"></a>
    <div id="cover">
      <div id="cover-caption">
        <h2>Login</h2>
        <hr>

        <!-- Formulario para loguearse en la pagina -->
        <form method="POST" action="../Controllers/Login.php">
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="text" class="form-control form-control-sm" value="%%name%%" id="exampleInputEmail1"
              aria-describedby="emailHelp" name="usuario">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control form-control-sm" value="%%pass%%" id="exampleInputPassword1"
              name="clave">
          </div><br>
          <button type="button" class="btn btn-lg btn-primary active" id="buttonPass" 
          longdesc="Abrir formulario, cambiar contraseña">¿Olvido su contraseña?</button><br><br><br>
          <a id="link_alta" href="../Controllers/Alta.php"
            longdesc="Boton para poder darse de alta y rellenar formulario con sus datos principales">¿Desea darse de
            alta?</a><br><br><br>
          <button type="submit" class="btn btn-primary" name="enviar"
            longdesc="Boton para poder loguearse como usuario de la pagina">Enviar</button>
        </form>
        <button type="button" class="btn btn-lg btn-danger active" id="backIndex"
          longdesc="Salir del formulario de login">Salir</button>
      </div>
    </div>

    <!-- Formulario para recuperar contraseña del usuario-->
    <div class="container" id="formNewPass">
      <h2>Modificar Contraseña</h2>
      <p>Formulario para modificar la contraseña:
      <div id="usuarioModificarDatos"></div>
      </p>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="usuario" placeholder="Introduzca Usuario" name="usuario">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="password" class="form-control" id="email" placeholder="Introduzca nueva contraseña" name="pass">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Repita nueva contraseña" name="pass-rep">
        </div>
      </div>
      <div class="row">
          <input type="button" class="form-control" id="buttonNewPass" value="Enviar solicitud">
      </div>
      <div class="row">
        <button type="button" class="btn btn-lg btn-primary active" id="backLogin"
        longdesc="Volver al formulario de login">Volver</button>
    </div>
    </div>
  </div>

  <!-- Footer de la página -->
  <footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left" id="textoFooter">
      <div class="col-sm-7">
        <p>Dirección:<br><br>
          Calle San Juan de la Cruz, s/n <br><br>
          Pozuelo de Alarcón, Madrid <br><br>
          Telefono <br><br>
          (+34) 666 55 44 33 <br><br>
          Correo electrónico <br><br>
          proyectofinaldawiessjdlc@gmail.com
        </p>

      </div>

      <div class="col-sm-5">
        <ul class="navbar navbar-expand-sm" id="rrss">
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../Public/Img/Twitter.jpg" height="68" width="68"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../Public/Img/Instagram.jpg" height="68" width="68"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../Public/Img/Facebook.png" height="48" width="48"></a>
          </li>
        </ul>

      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      <p>Terminos de venta&nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Terminos de uso &nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Detalles de la empresa &nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Politica de privacidad y uso </p><br><br>
      <p>© 2020 Copyright: Eduardo Fachal</p>
    </div>

  </footer>
</body>

</html>