<!--<nav>
    
<ul>
    <li><a href="#" class="%%cesta%%">Cesta</a></li>
    <li><a href="#" class="%%home%%">Home</a></li>
    <li><a href="#" class="%%perfil%%">Perfil</a></li>
</ul>
<ul>
    <li><a href="#" class="%%mujer%%">Mujer</a></li>
    <li><a href="#" class="%%hombre%%">Hombre</a></li>
    <li><a href="#" class="%%niño%%">Niño</a></li>
</ul>
</nav>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald|Lato" rel="stylesheet">
<script src="../Public/Javascript/FunctionsApi.js"></script>
<link rel="stylesheet" type="text/css" href="../Public/Css/menu.css">

<nav>
    <div class="d-flex justify-content-between" id="nav-top">
        <a class="navbar-brand" href="../Controllers/Index.php" id="logo"></a>
        <form class="form-inline">
            <input class="form-control mr-sm-4" type="search" id="findProduct" placeholder="Buscar producto..." aria-label="Search">
            <button type="button" class="btn btn-info" id="buttonProduct" >
                <span class="glyphicon glyphicon-search">  Buscar</span>
            </button>
            <div id="articulos">

            </div>
        </form>
        <div class="d-flex justify-content-end" id="links">
           <a href="../Controllers/Cesta.php"><img src="../Public/Img/carrito.png" alt="Cesta de la compra"></a>
           <!-- <a href="../Controllers/Login.php"><img src="../Public/Img/login.png"></a>-->
           <div class="btn-group">
            <div class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="linkPerfil">
            </div>
            <div class="dropdown-menu" id="logoPerfil">
              %%botonMenu%%
            </div>
          </div>
        </div> 
    </div>
<div class="navbar navbar-expand-sm navbar-light bg-light">
    
  <div id="clothesMenu">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Mujer<input type="hidden" value=".<?php >."</a>-->
        <form method='POST' action='../Controllers/TiposRopa.php'><input type='submit' value='mujer' name='redirigirRopa' class="ropaMenuBotones"></form>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Hombre</a>-->
        <form method='POST' action='../Controllers/TiposRopa.php'><input type='submit' value='hombre' name='redirigirRopa' class="ropaMenuBotones"></form>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Kids</a>-->
        <form method='POST' action='../Controllers/TiposRopa.php'><input type='submit' value='kids' name='redirigirRopa' class="ropaMenuBotones"></form>
      </li>        
    </ul>
</div>
</div>
</nav>
