<!DOCTYPE html>
<html lang="en">
<!--
  Author: Eduardo Fachal
  Proyecto Final DAW
  -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Perfil</title>
  <link rel="stylesheet" type="text/css" href="../Public/Css/Footer.css">
  <link rel="stylesheet" type="text/css" href="../Public/Css/Perfil.css">
  <link rel="stylesheet" type="text/css" href="../Public/Css/FormModUser.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../Public/Javascript/FunctionsPerfil.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald|Lato" rel="stylesheet">

</head>

<body id="bodyPerfil">

  <!-- Header/Menu principal de la página-->
  %%menu%%

  <!-- Botones para mostrar los pedidos del usuario en una tabla y para desplegar un formulario de modificación, 
        las modificaciónes son dinámicas, se puede meter cualquier campo y se realizará el cambio pertinente -->
  <div class="back-form">
    <div class="buttonPerfil">
      <button type="button" class="btn btn-lg btn-primary active" id="tablaPedidos">Pedidos</button>
      <button type="button" class="btn btn-secondary btn-lg" id="formularioModificar">Modificar cuenta</button>
    </div>

    <!-- Divs para mostrar cada una de las acciones de los botones, tanto la tabla de las facturas como el formulario
        de las modificaciones -->
    <div id="resalto"></div>
    <div id="resultadoPedidos">%%facturas%%</div>
    <div id="modificarCuenta">%%modificarCuenta%%</div>
  </div>

  <!-- Footer de la página -->
  %%footer%%
</body>

</html>