

.activo {
    color:red;
}

#carousel{
    width: 65%;
    margin-left: 16%; 
    margin-top: 2%; 
}
#carousel img{
    width: auto;
}
footer{
    background-color: black;
    color: white;
}

footer ul li{
    margin-top: 17%;
    margin-right: -15%;
    list-style: none;
}

.col-sm-7 p{
    margin: 5%;
}
  