/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                                CARRUSEL INDEX
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/

html{
    overflow-x: hidden;
}
.carousel-item img{
    width: 1300px;
    height: 620px;
    margin-left: 15%;
    margin-top: 3%;
}

.carousel-item h3{
    color:white;
    font-size: 3em;
    font-family: 'Oswald';
}


/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                          OFERTAS Y CSS DE LA ROPA
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
body h2{
    margin-top: 7%;
    text-align: center;
    font-size: 5em;
    font-family: 'Oswald';
}
.offerList{
    margin-top: 5%;
    margin-bottom: 7%;
    list-style: none;
}

.offerList li{
    margin-left: 2%;
    display: inline-block;
}
.offerList img{
    width: 80%;
    margin-top: 10%;
    margin-left: 15%;
}
.offerList p{
    margin-top: 6%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lato';
}

.headClothes{
    font-size: 3em;
    font-family: 'Oswald';
    text-align: center;
    margin-top:8%;
    margin-bottom:4%;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                          OFERTAS Y CSS DEL PRODUCTO
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/

.imageProduct{
    margin: 5%;
}

/* DIV DERECHA CON NOMBRE, PRECIO, AÑADIR*/
.productDescript{
    height: 100%;
    display: inline-block;
    font-family: 'Lato';
}
.productDescript h2{
    padding-top: 5%;
    display: inline;
    font-size: 2.4em;
}

.productDescript p{
    text-align: center;
    margin-top: 15%;
    font-size: 2em;
}

#buttonAddProduct{
    margin-left: 20%;
    margin-top: 20%;
    font-size: 2em;
    font-family: 'Oswald';
}
.form-check{
    margin-top: 10%;
    margin-left: 18%;
}
#lot{
    margin-top: 12%;
    font-size: 1em;
}
