/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                          FOOTER
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/

footer{
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-family: 'Lato';
}

.col-sm-5 ul li{
    margin-top: 17%;
    margin-right: 12%;
    list-style: none;
}

.col-sm-7 p{
    margin: 5%;
}