body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.background_form_login{
    background-image: url("../Img/Fondo_Logueo.jpg");
    background-size: cover;
    width: 100%;
    height: 900px;
}

footer{
    background-color: black;
    color: white;
}

footer ul li{

    list-style: none;
}

.col-sm-7 p{
    margin: 5%;
    margin-right: -20%;
}

#rrss{
    margin-left: 20%;
    display: inline-block;
}
hr{
    height: 15px;
    background-color: white;
    margin-bottom: 20%;
}

#cover {
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5%;
    margin-left:38%;
    width: 21%;
}
  
#cover-caption {
    background-color: black;
    padding: 12%;
    width: 100%;
}

#cover-caption h2{
    margin-bottom: 12%;
}

#link_alta{
    color: white;
}

.logo_link img{
    margin-bottom:-13% ;
    width: 124px;
    height: 188px;
    margin-left: 45%;
}