/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    SEPARACIONES DE BOTONES INCIALES MENU
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                       
*/

.nav-item{
    margin-right: 35%;
}
nav{
    font-family: 'Oswald';
    font-size: 2rem;
}
#nav-top{
    margin: 2.5%;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    LINK A HOME
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#logo{
    background-image: url("../Img/fav-ico_nofondo_2.png");
    width: 64px;
    height: 158px;
    background-size: auto;
    background-repeat: no-repeat;
    
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    MODIFICACIONES Y SEPARACIONES DE INPUTS DEL FORMULARIO
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#links img{
    width: 94px;
    height: 98px;
    margin-right: 40px;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    LINK AL PERFIL
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#linkPerfil{
    width: 84px;
    height: 88px;
    margin-right: 15%;
    background-color: white;
    border: 0;
}
#shopCart{
    width: 84px;
    height: 88px;
    margin-top: 15%;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    BUSCADOR DE PRODUCTO
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#findProduct{
    width: 600px;
}


#buttonProduct{
    background-color: rgb(3, 62, 190);
}

.articlesListMenu{
    padding-bottom: 5%;
    width:80%;
    top:180px;
    left: 180px;
    list-style: none;
    position: absolute;
    z-index: 10;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5%;
}
.articlesListMenu img{
    width: 120px;
    height: 110px;
    display: inline-block;
}
.articlesListMenu h3{
    text-align: center;
}
.articlesListMenu li{
    width: 120px;
    height: 110px;
    display: inline-block;
    margin: 3%;
}


/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    MENU TIPOS DE ROPA
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#clothesMenu{
    margin-left:45%;  
}
#clothesMenu a{
    color:rgb(48, 50, 54)
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    DIV PARA CUBRIR LA PAGINA EN LA BUSQUEDA
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#backgroundOpacity {
    overflow: auto;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
    height: 106%;
    position: fixed;
    margin-top: -5%;
}