/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    SEPARACIONES DE BOTONES INCIALES MENU
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                       
*/
#clothesMenu{
    margin-left:45%;  
}

.nav-item{
    margin-right: 35%;
}
nav{
    font-family: 'Oswald';
    font-size: 2rem;
}
#nav-top{
    margin: 2.5%;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    LINK A HOME
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#logo{
    background-image: url("../Img/fav-ico_nofondo_2.png");
    width: 64px;
    height: 158px;
    background-size: auto;
    background-repeat: no-repeat;
    
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    MODIFICACIONES Y SEPARACIONES DE INPUTS DEL FORMULARIO
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#links img{
    width: 94px;
    height: 98px;
    margin-right: 40px;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    LINK AL PERFIL
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#linkPerfil{
    width: 94px;
    height: 98px;
    margin-right: 40px;
    background-image: url("../Img/login.png");
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    BUSCADOR DE PRODUCTO
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#findProduct{
    width: 400px;
}

#articlesButtonFind{
    width: 100%;
}
.articlesListMenu{
    width:20%;
    list-style: none;
    position: absolute;
    z-index: 3;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}