/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    DIV CENTRAL
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
.back-form{
    width: 100%;
    height:100%;
    margin-top: -20px;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    BOTONES PEDIDOS Y MODIFICAR CUENTA
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
.buttonPerfil{
    margin-top: 5%;
    margin-left: 12%;
    padding-bottom: 2%;
    font-family: 'Oswald';
    font-size: 2em;
}
.buttonPerfil button{
    margin-left:25% ;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////
                      
                    RESULTADO TABLA PEDIDOS
                   
////////////////////////////////////////////////////////////////////////////////////////////////////                        
*/
#resalto{
    width: 100%;
    height:440px;
}
#resultadoPedidos{
    margin-bottom: 10.8%;
    font-family: 'Oswald';
    font-size: 1.2em;
}

#imageBill{
    margin-left: 12%;
}